@charset "UTF-8";
a.news_back {
      position: relative;
            bottom: 10%;
            right: 35%;
      display: block;
      text-align: center;   
      text-decoration: none;
      width: 5%;
      margin: auto;
      padding: 0.5rem 0.5rem;
      font-weight: bold;
      border: 2px solid #98fb98;
      background: #98fb98;
      color: black;
      transition: 0.5s;
        }
        
   li {
    border: 2px solid #aaa;
   }